*.ipch
/caoqingwa_MiniWeb/.vs/caoqingwa_MiniWeb/CopilotIndices
/caoqingwa_MiniWeb/.vs/caoqingwa_MiniWeb/copilot-chat
/caoqingwa_MiniWeb/.vs/caoqingwa_MiniWeb/CopilotIndices
/.vs
/caoqingwa_MiniWeb/.vs/CopilotSnapshots
